body {
  background-color: #496885;
  color: white;
}

#km-line-container {
  background-color: #496885;
}

.km-footer {
  background: #232930;
  color: #CCC;
}

#km-bottom-container {
    border-color: #60626d;
}