#page {
  display: flex;
  justify-content: center;
}

#out {
  margin-top: 0;
  max-width: 800px;
  font-size: 18px;
  word-break: break-word;
  box-sizing: border-box;
  font-size: 18px;
  flex-grow: 1;
  overflow: auto;
  padding: 0 20px;
  line-height: 2;
}

@media (max-width: 600px) {
  #out {
    padding: 0 12px;
    font-size: 16px;
  }
}

#out h1 {
  font-size: 2.8em;
  margin: 8px 0 0;
}

#out h2 {
  font-size: 1.8em;
  margin: 14px 0 10px;
}

#out h3 {
  font-size: 1.4em;
  margin: 18px 0 12px;
}

#out h1 + p,
#out h2 + p,
#out h3 + p {
  margin-top: 0.5em;
}

#out p {
  margin-bottom: 24px;
  font-size: 18px;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  line-height: 1.8;
}

#out p + ul {
  margin-top: -18px;
}

#out a {
  text-decoration: underline;
}

#out ul + pre {
  margin-top: 20px;
}

#out pre + p {
  margin-top: 26px;
}

#out hr {
  margin: 32px 0px;
}

#out pre, #out code {
  background: #1d1d1d;
  color: #f8f8f2;
  border-radius: 4px;
  font-family: monospace;
  overflow-x: hidden;
}

#out pre[class*="language-"] {
  background: #1d1d1dff;
  padding: 8px 12px;
  border-radius: 4px;
  overflow-x: auto;
}

#out code[class*="language-"] {
  font-family: monospace;
}

a.km-custom-link {
  color: #CCC;
  text-decoration: underline;
}

a.km-custom-link img.linkarrow-icon {
  width: 0.8em;
  height: auto;
  vertical-align: middle;
  margin-left: 0.3em;
  margin-bottom: 0.2em;
  filter: brightness(0) saturate(100%) invert(80%);
}